<form action="/recipes" method="post">
<input type="text" placeholder="Name" name="recipe[name]"><br><br>
<input type="text" placeholder="Ingredients" name="recipe[ingredients]"><br><br>
<input type="text" placeholder="Cook Time" name="recipe[cook_time]"><br><br>
<input type="submit" value="Add Recipe">
</form>
