<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Hello Show
    <li><%= @recipe.name %></li>
    <p><%= @recipe.ingredients %></p>
    <p><%= @recipe.cook_time.to_s %> minutes</p>
    <!-- Delete Button -->
    <form action="/recipes/<%=@recipe.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <p> <input type="submit" value="delete"> </p>
    </form>
  </body>
</html>
