<form  action="/recipes" method="post">
  NAME <input type="text" name="name" value="">
  INGREDIENTS <input type="text" name="ingredients" value="">
  COOK_TIME <input type="text" name="cook_time" value="">
  <input type="submit" name="" value="submit">

</form>
